.App {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid black;
  width: 600px;
  margin: 50px 50px 50px 50px;
}
.App li {
  list-style: none;
}
.container {
  margin-top: 40px;
  text-align: center;
}
.day-container {
  display: inline-block;
  margin-right: 35px;
}
